<div class="surface-ground pb-3 flex flex-col" style="min-height: 100vh;">
    <div class="flex bg-primary-aura w-12 fixed z-5 justify-content-center lg:justify-content-start" style="height: 50px;">
        <object data="assets/images/logo/usdesi-white.svg" width="200" height="100" class="logo-style"> </object>
    </div>
    <div class="card">
        <app-left-nav></app-left-nav>
    </div>
    <div class="col pt-6 p-0 pl-2">
        <router-outlet></router-outlet>
    </div>
    <div class="card p-4" style="position: fixed; bottom: 1rem; right: 1rem; z-index: 999;">  
        <p-speeddial mask [routerLink]="['/ad-post']"/>  
    </div>
</div>

<footer style="margin-top: auto;">
    <app-footer></app-footer>
</footer>
