<!-- <div class="grid">
    <div class="col-fixed" style="width: 200px;">
        <app-left-menu-bar></app-left-menu-bar>
    </div>
    <div class="col">  
        <router-outlet></router-outlet>
    </div>
</div> -->
<!-- <app-left-menu-bar></app-left-menu-bar>
<router-outlet></router-outlet> -->

<div class="min-h-screen flex surface-ground">
    <div id="app-sidebar-11" class="surface-section h-screen hidden lg:block flex-shrink-0 fixed lg:sticky left-0 top-0 z-1 border-right-1 surface-border select-none" style="width:200px">
        <div class="flex flex-column h-full">
            <div class="flex align-items-center px-5 flex-shrink-0" style="height:60px">
                <img class="cursor-pointer" src="assets/images/logo/only-logo.png" alt="Image" height="30">
            </div>
            <div class="overflow-y-auto">
                <ul class="list-none p-0 m-0">
                    <li>
                        <div pRipple class="p-3 flex align-items-center justify-content-between text-600 cursor-pointer" pStyleClass="@next" enterFromClass="hidden" enterActiveClass="slidedown" leaveToClass="hidden" leaveActiveClass="slideup">
                            <span class="font-medium">SERVICES</span>
                            <i class="pi pi-chevron-down"></i>
                        </div>
                        <ul class="list-none p-0 m-0 overflow-hidden">
                            <li>
                                <a pRipple class="flex align-items-center cursor-pointer p-3 text-700 border-2 border-transparent hover:border-300 transition-duration-150 transition-colors text-indigo-500" style="border-radius: 12px">
                                    <i class="pi pi-home mr-2"></i>
                                    <span class="font-medium">Home</span>
                                </a>
                            </li>
                            <li>
                                <a pRipple class="flex align-items-center cursor-pointer p-3 text-700 border-2 border-transparent hover:border-300 transition-duration-150 transition-colors text-indigo-500" style="border-radius: 12px">
                                    <i class="pi pi-home mr-2"></i>
                                    <span class="font-medium">Social</span>
                                </a>
                            </li>
                            <li>
                                <a pRipple class="flex align-items-center cursor-pointer p-3 text-700 border-2 border-transparent hover:border-300 transition-duration-150 transition-colors" style="border-radius: 12px">
                                    <i class="pi pi-bookmark mr-2 text-blue-500"></i>
                                    <span class="font-medium">Accommodation</span>
                                </a>
                            </li>
                            <li>
                                <a pRipple class="flex align-items-center cursor-pointer p-3 text-700 border-2 border-transparent hover:border-300 transition-duration-150 transition-colors" style="border-radius: 12px"
                                    pStyleClass="@next" enterFromClass="hidden" enterActiveClass="slidedown" leaveToClass="hidden" leaveActiveClass="slideup">
                                    <i class="pi pi-chart-line mr-2 text-purple-500"></i>
                                    <span class="font-medium">Real Estate</span>
                                    <i class="pi pi-chevron-down ml-auto"></i>
                                </a>
                                <ul class="list-none py-0 pl-3 pr-0 m-0 hidden overflow-y-hidden transition-all transition-duration-400 transition-ease-in-out">
                                    <li>
                                        <a pRipple class="flex align-items-center cursor-pointer p-3 text-700 border-2 border-transparent hover:border-300 transition-duration-150 transition-colors" style="border-radius: 12px"
                                            pStyleClass="@next" enterFromClass="hidden" enterActiveClass="slidedown" leaveToClass="hidden" leaveActiveClass="slideup">
                                            <i class="pi pi-chart-line mr-2 text-purple-500"></i>
                                            <span class="font-medium">Revenue</span>
                                            <i class="pi pi-chevron-down ml-auto"></i>
                                        </a>
                                        <ul class="list-none py-0 pl-3 pr-0 m-0 hidden overflow-y-hidden transition-all transition-duration-400 transition-ease-in-out">
                                            <li>
                                                <a pRipple class="flex align-items-center cursor-pointer p-3 text-700 border-2 border-transparent hover:border-300 transition-duration-150 transition-colors" style="border-radius: 12px">
                                                    <i class="pi pi-table text-purple-500 mr-2"></i>
                                                    <span class="font-medium">View</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a pRipple class="flex align-items-center cursor-pointer p-3 text-700 border-2 border-transparent hover:border-300 transition-duration-150 transition-colors" style="border-radius: 12px">
                                                    <i class="pi pi-search mr-2 text-purple-500"></i>
                                                    <span class="font-medium">Search</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a pRipple class="flex align-items-center cursor-pointer p-3 text-700 border-2 border-transparent hover:border-300 transition-duration-150 transition-colors" style="border-radius: 12px">
                                            <i class="pi pi-chart-line mr-2 text-purple-500"></i>
                                            <span class="font-medium">Expenses</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a pRipple class="flex align-items-center cursor-pointer p-3 text-700 border-2 border-transparent hover:border-300 transition-duration-150 transition-colors" style="border-radius: 12px">
                                    <i class="pi pi-users mr-2 text-green-500"></i>
                                    <span class="font-medium">Food</span>
                                </a>
                            </li>
                            <li>
                                <a pRipple class="flex align-items-center cursor-pointer p-3 text-700 border-2 border-transparent hover:border-300 transition-duration-150 transition-colors" style="border-radius: 12px">
                                    <i class="pi pi-comments mr-2 text-cyan-500 "></i>
                                    <span class="font-medium">Finance</span>
                                    <span class="inline-flex align-items-center justify-content-center ml-auto bg-indigo-500 text-0 border-circle" style="min-width: 1.5rem; height: 1.5rem">3</span>
                                </a>
                            </li>
                            <li>
                                <a pRipple class="flex align-items-center cursor-pointer p-3 text-700 border-2 border-transparent hover:border-300 transition-duration-150 transition-colors" style="border-radius: 12px">
                                    <i class="pi pi-cog mr-2 text-pink-500 "></i>
                                    <span class="font-medium">Learn</span>
                                </a>
                            </li>
                            <li>
                                <a pRipple class="flex align-items-center cursor-pointer p-3 text-700 border-2 border-transparent hover:border-300 transition-duration-150 transition-colors" style="border-radius: 12px">
                                    <i class="pi pi-calendar mr-2 text-teal-500 "></i>
                                    <span class="font-medium">Health</span>
                                </a>
                            </li>
                            <li>
                                <a pRipple class="flex align-items-center cursor-pointer p-3 text-700 border-2 border-transparent hover:border-300 transition-duration-150 transition-colors" style="border-radius: 12px">
                                    <i class="pi pi-cog mr-2 text-pink-500 "></i>
                                    <span class="font-medium">Travel</span>
                                </a>
                            </li>
                            <li>
                                <a pRipple class="flex align-items-center cursor-pointer p-3 text-700 border-2 border-transparent hover:border-300 transition-duration-150 transition-colors" style="border-radius: 12px">
                                    <i class="pi pi-cog mr-2 text-pink-500 "></i>
                                    <span class="font-medium">Fashion</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="list-none p-0 m-0">
                    <li>
                        <div pRipple class="p-3 flex align-items-center justify-content-between text-600 cursor-pointer" pStyleClass="@next" enterFromClass="hidden" enterActiveClass="slidedown" leaveToClass="hidden" leaveActiveClass="slideup">
                            <span class="font-medium">APPLICATIONS</span>
                            <i class="pi pi-chevron-down"></i>
                        </div>
                        <ul class="list-none p-0 m-0 overflow-hidden">
                            <li>
                                <a pRipple class="flex align-items-center cursor-pointer p-3 border-2 border-transparent hover:border-300 text-700 transition-duration-150 transition-colors" style="border-radius: 12px">
                                    <i class="pi pi-discord mr-2 text-cyan-500"></i>
                                    <span class="font-medium">Discord</span>
                                </a>
                            </li>
                            <li>
                                <a pRipple class="flex align-items-center cursor-pointer p-3 border-2 border-transparent hover:border-300 text-700 transition-duration-150 transition-colors" style="border-radius: 12px">
                                    <i class="pi pi-slack mr-2 text-purple-500"></i>
                                    <span class="font-medium">Slack</span>
                                </a>
                            </li>
                            <li>
                                <a pRipple class="flex align-items-center cursor-pointer p-3 border-2 border-transparent hover:border-300 text-700 transition-duration-150 transition-colors" style="border-radius: 12px">
                                    <i class="pi pi-github mr-2 text-blue-500"></i>
                                    <span class="font-medium">GitHub</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="mt-auto">
                <hr class="mb-3 mx-3 border-top-1 border-none surface-border" />
                <a pRipple class="m-3 flex align-items-center cursor-pointer p-3 text-700 border-2 border-transparent hover:border-300 transition-duration-150 transition-colors" style="border-radius: 12px">
                    <img src="assets/images/blocks/avatars/circle/avatar-f-1.png" class="mr-2" style="width: 28px; height: 28px"/>
                    <span class="font-medium">Amy Elsner</span>
                </a>
            </div>
        </div>
    </div>
    <div class="min-h-screen flex flex-column relative flex-auto">
        <div class="p-0 flex flex-column flex-auto">
            <div class="border-2 border-dashed surface-border border-round surface-section flex-auto">
                <router-outlet></router-outlet>
            </div>
        </div>
        <footer style="margin-top: auto;">
            <app-footer></app-footer>
        </footer>
    </div>
</div>
