<div class="flex">
    <div class="flex">
        <app-left-nav (visible)="false"></app-left-nav>
   </div> 
    <div class="flex">
        <div class="ml-2">
            <section class="grid pt-7 px-2 surface-ground">
                <div class="col-12 xl:col-6">
                    <article class="flex flex-column md:flex-row w-full gap-3 p-3 border-round border-1 surface-border surface-card">
                        <div class="relative">
                            <img src="assets/images/blocks/hotels/h4.jpeg" alt="Image" class="border-round w-full h-full md:w-14rem md:h-14rem">
                            <p class="absolute px-2 py-1 border-round-lg text-sm font-normal text-white mt-0 mb-0" style="background-color: rgba(255, 255, 255, 0.3); backdrop-filter: blur(10px); top: 3%; left: 3%;">Superhost</p>
                        </div>
                        <div class="flex flex-column w-full gap-3">
                            <div class="flex w-full justify-content-between align-items-center flex-wrap gap-3">
                                <p class="font-semibold text-lg mt-0 mb-0">Private room in Amsterdam</p>
                                <p-rating [ngModel]="val1" readonly="true" stars="5" ngClass="flex-shrink-0"></p-rating>
                            </div>
                            <p class="font-normal text-lg text-600 mt-0 mb-0">Comfortable single room</p>
                            <div class="flex flex-wrap justify-content-between xl:h-2rem mt-auto">
                                <p class="text-base flex align-items-center text-900 mt-0 mb-1">
                                    <i class="pi pi-users mr-2"></i>
                                    <span class="font-medium">2 Guests</span>  
                                </p>
                                <p class="text-base flex align-items-center text-900 mt-0 mb-1">
                                    <i class="pi pi-wifi mr-2"></i>
                                    <span class="font-medium">1 GBit</span>  
                                </p>
                                <p class="text-base flex align-items-center text-900 mt-0 mb-1">
                                    <i class="pi pi-check-circle mr-2"></i>
                                    <span class="font-medium">Verified</span>  
                                </p>
                            </div>
                            <p class="font-semibold text-4xl text-900 mt-0 mb-2">$1,140</p>
                        </div>
                    </article>
                </div>
                <div class="col-12 xl:col-6">
                    <article class="flex flex-column md:flex-row w-full gap-3 p-3 border-round border-1 surface-border surface-card">
                        <div class="relative">
                            <img src="assets/images/blocks/hotels/h5.jpeg" alt="Image" class="border-round w-full h-full md:w-14rem md:h-14rem">
                            <p class="absolute px-2 py-1 border-round-lg text-sm font-normal text-white mt-0 mb-0" style="background-color: rgba(255, 255, 255, 0.3); backdrop-filter: blur(10px); top: 3%; left: 3%;">Superhost</p>
                        </div>
                        <div class="flex flex-column w-full gap-3">
                            <div class="flex w-full justify-content-between align-items-center flex-wrap gap-3">
                                <p class="font-semibold text-lg mt-0 mb-0">Home in Amsterdam</p>
                                <p-rating [ngModel]="val1" readonly="true" stars="5" ngClass="flex-shrink-0"></p-rating>
                            </div>
                            <p class="font-normal text-lg text-600 mt-0 mb-0">Large comfortable room in Sarphatistraat</p>
                            <div class="flex flex-wrap justify-content-between md:h-2rem mt-auto">
                                <p class="text-base flex align-items-center text-900 mt-0 mb-1">
                                    <i class="pi pi-users mr-2"></i>
                                    <span class="font-medium">2 Guests</span>  
                                </p>
                                <p class="text-base flex align-items-center text-900 mt-0 mb-1">
                                    <i class="pi pi-wifi mr-2"></i>
                                    <span class="font-medium">1 GBit</span>  
                                </p>
                                <p class="text-base flex align-items-center text-900 mt-0 mb-1">
                                    <i class="pi pi-check-circle mr-2"></i>
                                    <span class="font-medium">Verified</span>  
                                </p>
                            </div>
                            <div class="flex">
                                <p class="font-semibold text-4xl text-900 mt-0 mb-2 mr-2">$510</p>
                                <span class="text-sm text-gray-500">$</span><p class="font-semibold text-4xl text-900 mt-0 mb-2 line-through text-gray-500">850</p>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-12 xl:col-6">
                    <article class="flex flex-column md:flex-row w-full gap-3 p-3 border-round border-1 surface-border surface-card">
                        <div class="relative">
                            <img src="assets/images/blocks/hotels/h6.jpeg" alt="Image" class="border-round w-full h-full md:w-14rem md:h-14rem">
                            <p class="absolute px-2 py-1 border-round-lg text-sm font-normal text-white mt-0 mb-0" style="background-color: rgba(255, 255, 255, 0.3); backdrop-filter: blur(10px); top: 3%; left: 3%;">On Sale</p>
                        </div>
                        <div class="flex flex-column w-full gap-3">
                            <div class="flex w-full justify-content-between align-items-center flex-wrap gap-3">
                                <p class="font-semibold text-lg mt-0 mb-0">Luxurious spacious suite Jordan</p>
                                <p-rating [ngModel]="val1" readonly="true" stars="5" ngClass="flex-shrink-0"></p-rating>
                            </div>
                            <p class="font-normal text-lg text-600 mt-0 mb-0">Guest suite</p>
                            <div class="flex flex-wrap justify-content-between md:h-2rem mt-auto">
                                <p class="text-base flex align-items-center text-900 mt-0 mb-1">
                                    <i class="pi pi-users mr-2"></i>
                                    <span class="font-medium">2 Guests</span>  
                                </p>
                                <p class="text-base flex align-items-center text-900 mt-0 mb-1">
                                    <i class="pi pi-wifi mr-2"></i>
                                    <span class="font-medium">500 MBit</span>  
                                </p>
                                <p class="text-base flex align-items-center text-900 mt-0 mb-1">
                                    <i class="pi pi-check-circle mr-2"></i>
                                    <span class="font-medium">Verified</span>  
                                </p>
                            </div>
                            <p class="font-semibold text-4xl text-900 mt-0 mb-2">$980</p>
                        </div>
                    </article>
                </div>
                <div class="col-12 xl:col-6">
                    <article class="flex flex-column md:flex-row w-full gap-3 p-3 border-round border-1 surface-border surface-card">
                        <div class="relative">
                            <img src="assets/images/blocks/hotels/h7.jpeg" alt="Image" class="border-round w-full h-full md:w-14rem md:h-14rem">
                            <p class="absolute px-2 py-1 border-round-lg text-sm font-normal text-white mt-0 mb-0" style="background-color: rgba(255, 255, 255, 0.3); backdrop-filter: blur(10px); top: 3%; left: 3%;">Rare</p>
                        </div>
                        <div class="flex flex-column w-full gap-3">
                            <div class="flex w-full justify-content-between align-items-center flex-wrap gap-3">
                                <p class="font-semibold text-lg mt-0 mb-0">Beautiful Studio by the Amstel</p>
                                <p-rating [ngModel]="val1" readonly="true" stars="5" ngClass="flex-shrink-0"></p-rating>
                            </div>
                            <p class="font-normal text-lg text-600 mt-0 mb-0">Loft in Stadsdeel Oost</p>
                            <div class="flex flex-wrap justify-content-between md:h-2rem mt-auto">
                                <p class="text-base flex align-items-center text-900 mt-0 mb-1">
                                    <i class="pi pi-users mr-2"></i>
                                    <span class="font-medium">4 Guests</span>  
                                </p>
                                <p class="text-base flex align-items-center text-900 mt-0 mb-1">
                                    <i class="pi pi-wifi mr-2"></i>
                                    <span class="font-medium">10 GBit</span>  
                                </p>
                                <p class="text-base flex align-items-center text-900 mt-0 mb-1">
                                    <i class="pi pi-check-circle mr-2"></i>
                                    <span class="font-medium">Verified</span>  
                                </p>
                            </div>
                            <p class="font-semibold text-4xl text-900 mt-0 mb-2">$1,250</p>
                        </div>
                    </article>
                </div>
            </section>

            <div class="surface-ground">
                <div class="grid">
                    <div class="col-12 md:col-6 xl:col-3 p-3">
                        <div class="surface-card shadow-2 border-round p-3" style="border-radius: 6px">
                            <img src="assets/images/blocks/nature/nature-1.png" class="mb-3 w-full" />
                            <div class="flex justify-content-between align-items-start">
                                <div>
                                    <div class="text-xl font-medium text-900 mb-2">sed-risus</div>
                                    <p class="mt-0 mb-3 text-600">PNG image - 971 KB</p>
                                </div>
                                <button pButton pRipple icon="pi pi-download" class="p-button-rounded p-button-text"></button>
                            </div>
                            <ul class="list-none m-0 p-0">
                                <li class="px-0 py-2 flex justify-content-between align-items-center border-bottom-1 surface-border">
                                    <span class="text-600 font-medium text-sm">Created</span>
                                    <span class="text-900 font-medium text-sm">Yesterday 11:30</span>
                                </li>
                                <li class="px-0 py-2 flex justify-content-between align-items-center border-bottom-1 surface-border">
                                    <span class="text-600 font-medium text-sm">Dimensions</span>
                                    <span class="text-900 font-medium text-sm">2732x1690</span>
                                </li>
                                <li class="px-0 py-2 flex justify-content-between align-items-center">
                                    <span class="text-600 font-medium text-sm">Resolution</span>
                                    <span class="text-900 font-medium text-sm">144x144</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 md:col-6 xl:col-3 p-3">
                        <div class="surface-card shadow-2 border-round p-3" style="border-radius: 6px">
                            <img src="assets/images/blocks/nature/nature-2.png" class="mb-3 w-full" />
                            <div class="flex justify-content-between align-items-start">
                                <div>
                                    <div class="text-xl font-medium text-900 mb-2">morbit-blandit</div>
                                    <p class="mt-0 mb-3 text-600">PNG image - 350 KB</p>
                                </div>
                                <button pButton pRipple icon="pi pi-download" class="p-button-rounded p-button-text"></button>
                            </div>
                            <ul class="list-none m-0 p-0">
                                <li class="px-0 py-2 flex justify-content-between align-items-center border-bottom-1 surface-border">
                                    <span class="text-600 font-medium text-sm">Created</span>
                                    <span class="text-900 font-medium text-sm">Today 09:30</span>
                                </li>
                                <li class="px-0 py-2 flex justify-content-between align-items-center border-bottom-1 surface-border">
                                    <span class="text-600 font-medium text-sm">Dimensions</span>
                                    <span class="text-900 font-medium text-sm">1920x1080</span>
                                </li>
                                <li class="px-0 py-2 flex justify-content-between align-items-center">
                                    <span class="text-600 font-medium text-sm">Resolution</span>
                                    <span class="text-900 font-medium text-sm">144x144</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 md:col-6 xl:col-3 p-3">
                        <div class="surface-card shadow-2 border-round p-3" style="border-radius: 6px">
                            <img src="assets/images/blocks/nature/nature-3.png" class="mb-3 w-full" />
                            <div class="flex justify-content-between align-items-start">
                                <div>
                                    <div class="text-xl font-medium text-900 mb-2">neque-aliquam</div>
                                    <p class="mt-0 mb-3 text-600">PNG image - 458 KB</p>
                                </div>
                                <button pButton pRipple icon="pi pi-download" class="p-button-rounded p-button-text"></button>
                            </div>
                            <ul class="list-none m-0 p-0">
                                <li class="px-0 py-2 flex justify-content-between align-items-center border-bottom-1 surface-border">
                                    <span class="text-600 font-medium text-sm">Created</span>
                                    <span class="text-900 font-medium text-sm">Yesterday 11:30</span>
                                </li>
                                <li class="px-0 py-2 flex justify-content-between align-items-center border-bottom-1 surface-border">
                                    <span class="text-600 font-medium text-sm">Dimensions</span>
                                    <span class="text-900 font-medium text-sm">1280x720</span>
                                </li>
                                <li class="px-0 py-2 flex justify-content-between align-items-center">
                                    <span class="text-600 font-medium text-sm">Resolution</span>
                                    <span class="text-900 font-medium text-sm">144x144</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 md:col-6 xl:col-3 p-3">
                        <div class="surface-card shadow-2 border-round p-3" style="border-radius: 6px">
                            <img src="assets/images/blocks/nature/nature-4.png" class="mb-3 w-full" />
                            <div class="flex justify-content-between align-items-start">
                                <div>
                                    <div class="text-xl font-medium text-900 mb-2">solestie-ac-final</div>
                                    <p class="mt-0 mb-3 text-600">PNG image - 102 KB</p>
                                </div>
                                <button pButton pRipple icon="pi pi-download" class="p-button-rounded p-button-text"></button>
                            </div>
                            <ul class="list-none m-0 p-0">
                                <li class="px-0 py-2 flex justify-content-between align-items-center border-bottom-1 surface-border">
                                    <span class="text-600 font-medium text-sm">Created</span>
                                    <span class="text-900 font-medium text-sm">Today 15:30</span>
                                </li>
                                <li class="px-0 py-2 flex justify-content-between align-items-center border-bottom-1 surface-border">
                                    <span class="text-600 font-medium text-sm">Dimensions</span>
                                    <span class="text-900 font-medium text-sm">1920x1080</span>
                                </li>
                                <li class="px-0 py-2 flex justify-content-between align-items-center">
                                    <span class="text-600 font-medium text-sm">Resolution</span>
                                    <span class="text-900 font-medium text-sm">144x144</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 md:col-6 xl:col-3 p-3">
                        <div class="surface-card shadow-2 border-round p-3" style="border-radius: 6px">
                            <img src="assets/images/blocks/nature/nature-5.png" class="mb-3 w-full" />
                            <div class="flex justify-content-between align-items-start">
                                <div>
                                    <div class="text-xl font-medium text-900 mb-2">neqeu-viverra</div>
                                    <p class="mt-0 mb-3 text-600">PNG image - 432 KB</p>
                                </div>
                                <button pButton pRipple icon="pi pi-download" class="p-button-rounded p-button-text"></button>
                            </div>
                            <ul class="list-none m-0 p-0">
                                <li class="px-0 py-2 flex justify-content-between align-items-center border-bottom-1 surface-border">
                                    <span class="text-600 font-medium text-sm">Created</span>
                                    <span class="text-900 font-medium text-sm">Today 14:30</span>
                                </li>
                                <li class="px-0 py-2 flex justify-content-between align-items-center border-bottom-1 surface-border">
                                    <span class="text-600 font-medium text-sm">Dimensions</span>
                                    <span class="text-900 font-medium text-sm">2732x-1690</span>
                                </li>
                                <li class="px-0 py-2 flex justify-content-between align-items-center">
                                    <span class="text-600 font-medium text-sm">Resolution</span>
                                    <span class="text-900 font-medium text-sm">144x144</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 md:col-6 xl:col-3 p-3">
                        <div class="surface-card shadow-2 border-round p-3" style="border-radius: 6px">
                            <img src="assets/images/blocks/nature/nature-6.png" class="mb-3 w-full" />
                            <div class="flex justify-content-between align-items-start">
                                <div>
                                    <div class="text-xl font-medium text-900 mb-2">enim-nec-dui</div>
                                    <p class="mt-0 mb-3 text-600">PNG image - 330 KB</p>
                                </div>
                                <button pButton pRipple icon="pi pi-download" class="p-button-rounded p-button-text"></button>
                            </div>
                            <ul class="list-none m-0 p-0">
                                <li class="px-0 py-2 flex justify-content-between align-items-center border-bottom-1 surface-border">
                                    <span class="text-600 font-medium text-sm">Created</span>
                                    <span class="text-900 font-medium text-sm">Today 10:30</span>
                                </li>
                                <li class="px-0 py-2 flex justify-content-between align-items-center border-bottom-1 surface-border">
                                    <span class="text-600 font-medium text-sm">Dimensions</span>
                                    <span class="text-900 font-medium text-sm">1920x1080</span>
                                </li>
                                <li class="px-0 py-2 flex justify-content-between align-items-center">
                                    <span class="text-600 font-medium text-sm">Resolution</span>
                                    <span class="text-900 font-medium text-sm">144x144</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 md:col-6 xl:col-3 p-3">
                        <div class="surface-card shadow-2 border-round p-3" style="border-radius: 6px">
                            <img src="assets/images/blocks/nature/nature-7.png" class="mb-3 w-full" />
                            <div class="flex justify-content-between align-items-start">
                                <div>
                                    <div class="text-xl font-medium text-900 mb-2">cursus-sit</div>
                                    <p class="mt-0 mb-3 text-600">PNG image - 1001 KB</p>
                                </div>
                                <button pButton pRipple icon="pi pi-download" class="p-button-rounded p-button-text"></button>
                            </div>
                            <ul class="list-none m-0 p-0">
                                <li class="px-0 py-2 flex justify-content-between align-items-center border-bottom-1 surface-border">
                                    <span class="text-600 font-medium text-sm">Created</span>
                                    <span class="text-900 font-medium text-sm">Yesterday 20:30</span>
                                </li>
                                <li class="px-0 py-2 flex justify-content-between align-items-center border-bottom-1 surface-border">
                                    <span class="text-600 font-medium text-sm">Dimensions</span>
                                    <span class="text-900 font-medium text-sm">1280x720</span>
                                </li>
                                <li class="px-0 py-2 flex justify-content-between align-items-center">
                                    <span class="text-600 font-medium text-sm">Resolution</span>
                                    <span class="text-900 font-medium text-sm">144x144</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 md:col-6 xl:col-3 p-3">
                        <div class="surface-card shadow-2 border-round p-3" style="border-radius: 6px">
                            <img src="assets/images/blocks/nature/nature-8.png" class="mb-3 w-full" />
                            <div class="flex justify-content-between align-items-start">
                                <div>
                                    <div class="text-xl font-medium text-900 mb-2">odio-ut-enim</div>
                                    <p class="mt-0 mb-3 text-600">PNG image - 660 KB</p>
                                </div>
                                <button pButton pRipple icon="pi pi-download" class="p-button-rounded p-button-text"></button>
                            </div>
                            <ul class="list-none m-0 p-0">
                                <li class="px-0 py-2 flex justify-content-between align-items-center border-bottom-1 surface-border">
                                    <span class="text-600 font-medium text-sm">Created</span>
                                    <span class="text-900 font-medium text-sm">Today 11:30</span>
                                </li>
                                <li class="px-0 py-2 flex justify-content-between align-items-center border-bottom-1 surface-border">
                                    <span class="text-600 font-medium text-sm">Dimensions</span>
                                    <span class="text-900 font-medium text-sm">1920x1080</span>
                                </li>
                                <li class="px-0 py-2 flex justify-content-between align-items-center">
                                    <span class="text-600 font-medium text-sm">Resolution</span>
                                    <span class="text-900 font-medium text-sm">144x144</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="surface-ground">
                <div class="grid">
                    <div class="col-12 md:col-6 xl:col-3 p-3">
                        <div class="surface-card shadow-2 border-round p-4">
                            <div class="flex flex-column align-items-center mb-3">
                                <img src="assets/images/blocks/avatars/circle/avatar-f-1.png" style="width: 70px;height: 70px" class="mb-3" />
                                <span class="font-medium text-900 text-xl mb-2">Jane Fox</span>
                                <span class="text-600 font-medium mb-2">Project Manager</span>
                                <span class="text-600 surface-200 p-2 border-round">Subscriber</span>
                            </div>
                            <div class="pt-3 border-top-1 surface-border flex">
                                <button pButton pRipple type="button" icon="pi pi-user-plus" class="flex-auto mr-2 p-button-outlined p-button-plain" style="border-radius: 30px"></button>
                                <button pButton pRipple type="button" icon="pi pi-send" class="flex-auto ml-2 p-button-outlined p-button-plain" style="border-radius: 30px"></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 md:col-6 xl:col-3 p-3">
                        <div class="surface-card shadow-2 border-round p-4">
                            <div class="flex flex-column align-items-center mb-3">
                                <img src="assets/images/blocks/avatars/circle/avatar-m-1.png" style="width: 70px;height: 70px" class="mb-3" />
                                <span class="font-medium text-900 text-xl mb-2">Robert Wilkins</span>
                                <span class="text-600 font-medium mb-2">Developer</span>
                                <span class="text-600 surface-200 p-2 border-round">Editor</span>
                            </div>
                            <div class="pt-3 border-top-1 surface-border flex">
                                <button pButton pRipple type="button" icon="pi pi-user-plus" class="flex-auto mr-2 p-button-outlined p-button-plain" style="border-radius: 30px"></button>
                                <button pButton pRipple type="button" icon="pi pi-send" class="flex-auto ml-2 p-button-outlined p-button-plain" style="border-radius: 30px"></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 md:col-6 xl:col-3 p-3">
                        <div class="surface-card shadow-2 border-round p-4">
                            <div class="flex flex-column align-items-center mb-3">
                                <img src="assets/images/blocks/avatars/circle/avatar-f-2.png" style="width: 70px;height: 70px" class="mb-3" />
                                <span class="font-medium text-900 text-xl mb-2">Jenny Wilson</span>
                                <span class="text-600 font-medium mb-2">Marketing</span>
                                <span class="text-600 surface-200 p-2 border-round">Subscriber</span>
                            </div>
                            <div class="pt-3 border-top-1 surface-border flex">
                                <button pButton pRipple type="button" icon="pi pi-user-plus" class="flex-auto mr-2 p-button-outlined p-button-plain" style="border-radius: 30px"></button>
                                <button pButton pRipple type="button" icon="pi pi-send" class="flex-auto ml-2 p-button-outlined p-button-plain" style="border-radius: 30px"></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 md:col-6 xl:col-3 p-3">
                        <div class="surface-card shadow-2 border-round p-4">
                            <div class="flex flex-column align-items-center mb-3">
                                <img src="assets/images/blocks/avatars/circle/avatar-m-2.png" style="width: 70px;height: 70px" class="mb-3" />
                                <span class="font-medium text-900 text-xl mb-2">Alberto Flores</span>
                                <span class="text-600 font-medium mb-2">Accounting</span>
                                <span class="text-600 surface-200 p-2 border-round">Moderator</span>
                            </div>
                            <div class="pt-3 border-top-1 surface-border flex">
                                <button pButton pRipple type="button" icon="pi pi-user-plus" class="flex-auto mr-2 p-button-outlined p-button-plain" style="border-radius: 30px"></button>
                                <button pButton pRipple type="button" icon="pi pi-send" class="flex-auto ml-2 p-button-outlined p-button-plain" style="border-radius: 30px"></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 md:col-6 xl:col-3 p-3">
                        <div class="surface-card shadow-2 border-round p-4">
                            <div class="flex flex-column align-items-center mb-3">
                                <img src="assets/images/blocks/avatars/circle/avatar-f-3.png" style="width: 70px;height: 70px" class="mb-3" />
                                <span class="font-medium text-900 text-xl mb-2">Regina Miles</span>
                                <span class="text-600 font-medium mb-2">Developer</span>
                                <span class="text-600 surface-200 p-2 border-round">Contributor</span>
                            </div>
                            <div class="pt-3 border-top-1 surface-border flex">
                                <button pButton pRipple type="button" icon="pi pi-user-plus" class="flex-auto mr-2 p-button-outlined p-button-plain" style="border-radius: 30px"></button>
                                <button pButton pRipple type="button" icon="pi pi-send" class="flex-auto ml-2 p-button-outlined p-button-plain" style="border-radius: 30px"></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 md:col-6 xl:col-3 p-3">
                        <div class="surface-card shadow-2 border-round p-4">
                            <div class="flex flex-column align-items-center mb-3">
                                <img src="assets/images/blocks/avatars/circle/avatar-m-3.png" style="width: 70px;height: 70px" class="mb-3" />
                                <span class="font-medium text-900 text-xl mb-2">Gary Richards</span>
                                <span class="text-600 font-medium mb-2">Designer</span>
                                <span class="text-600 surface-200 p-2 border-round">Subscriber</span>
                            </div>
                            <div class="pt-3 border-top-1 surface-border flex">
                                <button pButton pRipple type="button" icon="pi pi-user-plus" class="flex-auto mr-2 p-button-outlined p-button-plain" style="border-radius: 30px"></button>
                                <button pButton pRipple type="button" icon="pi pi-send" class="flex-auto ml-2 p-button-outlined p-button-plain" style="border-radius: 30px"></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 md:col-6 xl:col-3 p-3">
                        <div class="surface-card shadow-2 border-round p-4">
                            <div class="flex flex-column align-items-center mb-3">
                                <img src="assets/images/blocks/avatars/circle/avatar-f-4.png" style="width: 70px;height: 70px" class="mb-3" />
                                <span class="font-medium text-900 text-xl mb-2">Nelly Cooper</span>
                                <span class="text-600 font-medium mb-2">Sales Specialist</span>
                                <span class="text-600 surface-200 p-2 border-round">Editor</span>
                            </div>
                            <div class="pt-3 border-top-1 surface-border flex">
                                <button pButton pRipple type="button" icon="pi pi-user-plus" class="flex-auto mr-2 p-button-outlined p-button-plain" style="border-radius: 30px"></button>
                                <button pButton pRipple type="button" icon="pi pi-send" class="flex-auto ml-2 p-button-outlined p-button-plain" style="border-radius: 30px"></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 md:col-6 xl:col-3 p-3">
                        <div class="surface-card shadow-2 border-round p-4">
                            <div class="flex flex-column align-items-center mb-3">
                                <img src="assets/images/blocks/avatars/circle/avatar-m-4.png" style="width: 70px;height: 70px" class="mb-3" />
                                <span class="font-medium text-900 text-xl mb-2">Cody Roberts</span>
                                <span class="text-600 font-medium mb-2">Designer</span>
                                <span class="text-600 surface-200 p-2 border-round">Author</span>
                            </div>
                            <div class="pt-3 border-top-1 surface-border flex">
                                <button pButton pRipple type="button" icon="pi pi-user-plus" class="flex-auto mr-2 p-button-outlined p-button-plain" style="border-radius: 30px"></button>
                                <button pButton pRipple type="button" icon="pi pi-send" class="flex-auto ml-2 p-button-outlined p-button-plain" style="border-radius: 30px"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="flex align-items-center fixed w-12 z-5 bg-blue-50 pl-8" style="bottom: 0;">
    <app-search-bar class="w-12 pl-7"></app-search-bar>
</div>


