<div *ngIf="!floatNav && fixedNav" class="flex">
    <div id="app-sidebar-11" class="flex surface-section h-screen hidden lg:block flex-shrink-0 fixed lg:sticky left-0 top-0 z-1 border-right-1 surface-border select-none" style="width:200px">  
        <div class="flex flex-column h-full pt-7"> 
            <div class="overflow-y-auto">
                <ul class="list-none p-0 m-0">
                    <li>
                        <ul class="list-none p-0 m-0 overflow-hidden">
                            <li>
                                <a pRipple routerLink="/" class="flex align-items-center no-underline cursor-pointer p-3 text-700 border-2 border-transparent hover:border-300 transition-duration-150 transition-colors text-indigo-500" style="border-radius: 12px">
                                    <i class="pi pi-home mr-2"></i>
                                    <span class="font-medium">Home</span>
                                </a>
                            </li>
                            <li>
                                <a pRipple class="flex align-items-center no-underline p-3 text-700 border-2 border-transparent hover:border-300 transition-duration-150 transition-colors" style="border-radius: 12px">
                                    
                                    <i class="pi pi-lock mr-2"></i>
                                    <span class="font-medium text-gray-300">Social</span>
                                </a>
                            </li>
                            <li>
                                <a pRipple [routerLink]="['/accommodation']" class="flex align-items-center no-underline cursor-pointer p-3 text-700 border-2 border-transparent hover:border-300 transition-duration-150 transition-colors" style="border-radius: 12px">
                                    <i class="pi pi-building mr-2 text-blue-500"></i>
                                    <span class="font-medium">Accommodation</span>
                                </a>
                            </li>
                            <li>
                                <a pRipple class="flex align-items-center no-underline p-3 text-700 border-2 border-transparent hover:border-300 transition-duration-150 transition-colors" style="border-radius: 12px"
                                     enterFromClass="hidden" enterActiveClass="slidedown" leaveToClass="hidden" leaveActiveClass="slideup">
                                    <i class="pi pi-lock mr-2"></i>
                                    <span class="font-medium text-gray-300">Real Estate</span>
                                </a>
                            </li>
                            <li>
                                <a pRipple class="flex align-items-center no-underline p-3 text-700 border-2 border-transparent hover:border-300 transition-duration-150 transition-colors" style="border-radius: 12px">
                                     <i class="pi pi-lock mr-2"></i>
                                    <span class="font-medium text-gray-300">Food</span>
                                </a>
                            </li>
                            <li>
                                <a pRipple class="flex align-items-center no-underline p-3 text-700 border-2 border-transparent hover:border-300 transition-duration-150 transition-colors" style="border-radius: 12px">
                                    <i class="pi pi-lock mr-2"></i>
                                    <span class="font-medium text-gray-300">Finance</span>
                                </a>
                            </li>
                            <li>
                                <a pRipple class="flex align-items-center no-underline p-3 text-700 border-2 border-transparent hover:border-300 transition-duration-150 transition-colors" style="border-radius: 12px">
                                    <i class="pi pi-lock mr-2"></i>
                                    <span class="font-medium text-gray-300">Immigration</span>
                                </a>
                            </li>
                            <li>
                                <a pRipple class="flex align-items-center no-underline p-3 text-700 border-2 border-transparent hover:border-300 transition-duration-150 transition-colors" style="border-radius: 12px">
                                    <i class="pi pi-lock mr-2"></i>
                                    <span class="font-medium text-gray-300">Placements & Training</span>
                                </a>
                            </li>
                            <li>
                                <a pRipple class="flex align-items-center no-underline p-3 text-700 border-2 border-transparent hover:border-300 transition-duration-150 transition-colors" style="border-radius: 12px">
                                    <i class="pi pi-lock mr-2"></i>
                                    <span class="font-medium text-gray-300">Health</span>
                                </a>
                            </li>
                            <li>
                                <a pRipple class="flex align-items-center no-underline p-3 text-700 border-2 border-transparent hover:border-300 transition-duration-150 transition-colors" style="border-radius: 12px">
                                    <i class="pi pi-lock mr-2"></i>
                                    <span class="font-medium text-gray-300">Events & Travel</span>
                                </a>
                            </li>
                            <li>
                                <a pRipple class="flex align-items-center no-underline p-3 text-700 border-2 border-transparent hover:border-300 transition-duration-150 transition-colors" style="border-radius: 12px">
                                    <i class="pi pi-lock mr-2"></i>
                                    <span class="font-medium text-gray-300">Fashion</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="p-1 pt-2 card flex justify-center" style="position: fixed; top: 0; left: 0; z-index: 999;">
    <p-drawer #drawerRef [(visible)]="visible" [style]="{ width: 'auto' }">
        <ng-template #headless>
                <div class="overflow-y-auto h-full">
                    <ul class="list-none p-0 m-0">
                        <li>
                            <ul class="list-none p-0 m-0 overflow-hidden">
                                <li>
                                    <a pRipple routerLink="/" class="flex align-items-center no-underline cursor-pointer p-3 text-700 border-2 border-transparent hover:border-300 transition-duration-150 transition-colors text-indigo-500" style="border-radius: 12px">
                                        <i class="pi pi-home mr-2"></i>
                                        <span class="font-medium">Home</span>
                                    </a>
                                </li>
                                <li>
                                    <a pRipple class="flex align-items-center no-underline p-3 text-700 border-2 border-transparent hover:border-300 transition-duration-150 transition-colors" style="border-radius: 12px">
                                        
                                        <i class="pi pi-lock mr-2"></i>
                                        <span class="font-medium text-gray-300">Social</span>
                                    </a>
                                </li>
                                <li>
                                    <a pRipple [routerLink]="['/accommodation']" class="flex align-items-center no-underline cursor-pointer p-3 text-700 border-2 border-transparent hover:border-300 transition-duration-150 transition-colors" style="border-radius: 12px">
                                        <i class="pi pi-building mr-2 text-blue-500"></i>
                                        <span class="font-medium">Accommodation</span>
                                    </a>
                                </li>
                                <li>
                                    <a pRipple class="flex align-items-center no-underline p-3 text-700 border-2 border-transparent hover:border-300 transition-duration-150 transition-colors" style="border-radius: 12px"
                                         enterFromClass="hidden" enterActiveClass="slidedown" leaveToClass="hidden" leaveActiveClass="slideup">
                                        <i class="pi pi-lock mr-2"></i>
                                        <span class="font-medium text-gray-300">Real Estate</span>
                                    </a>
                                </li>
                                <li>
                                    <a pRipple class="flex align-items-center no-underline p-3 text-700 border-2 border-transparent hover:border-300 transition-duration-150 transition-colors" style="border-radius: 12px">
                                         <i class="pi pi-lock mr-2"></i>
                                        <span class="font-medium text-gray-300">Food</span>
                                    </a>
                                </li>
                                <li>
                                    <a pRipple class="flex align-items-center no-underline p-3 text-700 border-2 border-transparent hover:border-300 transition-duration-150 transition-colors" style="border-radius: 12px">
                                        <i class="pi pi-lock mr-2"></i>
                                        <span class="font-medium text-gray-300">Finance</span>
                                    </a>
                                </li>
                                <li>
                                    <a pRipple class="flex align-items-center no-underline p-3 text-700 border-2 border-transparent hover:border-300 transition-duration-150 transition-colors" style="border-radius: 12px">
                                        <i class="pi pi-lock mr-2"></i>
                                        <span class="font-medium text-gray-300">Immigration</span>
                                    </a>
                                </li>
                                <li>
                                    <a pRipple class="flex align-items-center no-underline p-3 text-700 border-2 border-transparent hover:border-300 transition-duration-150 transition-colors" style="border-radius: 12px">
                                        <i class="pi pi-lock mr-2"></i>
                                        <span class="font-medium text-gray-300">Placements & Training</span>
                                    </a>
                                </li>
                                <li>
                                    <a pRipple class="flex align-items-center no-underline p-3 text-700 border-2 border-transparent hover:border-300 transition-duration-150 transition-colors" style="border-radius: 12px">
                                        <i class="pi pi-lock mr-2"></i>
                                        <span class="font-medium text-gray-300">Health</span>
                                    </a>
                                </li>
                                <li>
                                    <a pRipple class="flex align-items-center no-underline p-3 text-700 border-2 border-transparent hover:border-300 transition-duration-150 transition-colors" style="border-radius: 12px">
                                        <i class="pi pi-lock mr-2"></i>
                                        <span class="font-medium text-gray-300">Events & Travel</span>
                                    </a>
                                </li>
                                <li>
                                    <a pRipple class="flex align-items-center no-underline p-3 text-700 border-2 border-transparent hover:border-300 transition-duration-150 transition-colors" style="border-radius: 12px">
                                        <i class="pi pi-lock mr-2"></i>
                                        <span class="font-medium text-gray-300">Fashion</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
        </ng-template>
    </p-drawer>
    <p-button *ngIf="floatNav" (click)="visible = true" icon="pi pi-bars" />
</div>
