
<div class="relative p-8 overflow-hidden bg-no-repeat bg-cover" style="background-image: url('assets/images/tajmahal.png')">
    <div class="text-center my-6 relative">
        <div class="text-6xl font-bold mb-1">Ask anything</div>
        <div class="text-6xl font-bold mb-4 sub-font-style">US Desi Duniya AI Agents</div>
        <div class="flex align-items-center justify-content-center flex-wrap">
            <!-- <i class="pi pi-search cursor-pointer pt-3 translate-x-8 color-gray"></i> -->
            <input type="text" class="border-gray-600 border-solid p-3 mr-3 mt-3" style="border-radius: 15px; text-indent: 5px;"  size="80" placeholder="Enter City name or ZIP code" >
            <i class="pi pi-arrow-right cursor-pointer pt-3 -translate-x-12"></i>
            <!-- <div>
                <input type="text" pInputText [(ngModel)]="value" class="w-full mb-3"/>
                <p-slider [(ngModel)]="value" class="w-full" />
            </div> -->
            <!-- <div class="user-input">
                <div class="box input-box">
                    <textarea id="message-input" placeholder="Ask a question" cols="30" rows="10" style="white-space: pre-wrap;" oninput="resizeTextarea(this)"></textarea>
                    <div id="send-button">
                        <i class="fa-regular fa-paper-plane-top"></i>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</div>
