
<div class="relative p-8 overflow-hidden bg-no-repeat bg-cover" style="background-image: url('assets/images/tajmahal-window.jpg')">
    <div class="text-center my-6 relative">
        <div class="text-6xl font-bold mb-1 text-indigo-900 fadeinup animation-duration-1000 animation-iteration-1">Ask anything</div>
        <div class="text-6xl font-bold sub-font-style text-indigo-500 fadeinup animation-duration-1000 animation-iteration-1">To AI Agents</div>
        <div class="flex align-items-center justify-content-center flex-wrap">
            <input type="text" class="border-gray-600 border-solid p-3 mt-3" style="border-radius: 15px; text-indent: 5px;"  size="80" placeholder="Enter your promt here" >
            <i class="pi pi-arrow-right cursor-pointer pt-3 pr-3 -translate-x-100"></i>
        </div>
    </div>
</div>
